
@{
    ViewBag.Title = "NumCajas";
}

<h2>Numero de cajas</h2>
<form action="/Cajas/Calcular" method="post">

@for (int i = 1; i <= ViewBag.NumCajas; i++)
{
    <label>Numero @i</label>
    <input type="number" name="numeros" value="0" step="any"/>
    <br />
}

<br />
<br />
<input type="submit" value="Enviar" />
</form>

