@model IDGS92_Tema1.Models.Calculos

@{
    ViewBag.Title = "OperasBas2";
}

<h2>Operas</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">

                @*<input type="radio" name="opera" value="suma" />
                <label>Suma</label>
                <input type="radio" name="opera" value="resta" />
                <label>Resta</label>
                <input type="radio" name="opera" value="multipliacion" />
                <label>Multiplicacion</label>
                <input type="radio" name="opera" value="division" />
                <label>Division</label>
                <br />*@
                <label>Numero 1</label>
                <input type="text" name="Num1" value="" />
                <br />
                <label>Numero 2</label>
                <input type="text" name="Num2" value="" />

                <input type="submit" name="name" value="Calcular" />
            </form>
        </div>
        <div class="col-lg-6">
            <h1>
                La suma es @Html.DisplayFor(model => model.Res)
            </h1>
        </div>
    </div>
</div>